.h-roulette {
    height: 85%;
}

.w-roulette-inner {
    width: 92%;
}

.w-deco {
    width: 88%;
}

.deco-line {
    stroke: theme('colors.fuschia');
    stroke-width: 2.5;
}

.deco-line-sm {
    stroke: theme('colors.fuschia');
    stroke-width: 1;
}

.toggle-display-type {
    cursor: pointer;
    display: inline-block;
}

.toggle-display-type__switch {
    display: inline-block;  
    background: theme('colors.purple');
	border-radius: 16px;
	width: 58px;
	height: 32px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
}

.toggle-display-type__switch::before,
.toggle-display-type__switch::after {
    content: "";
}

.toggle-display-type__switch::before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%,#eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s; 
}

.toggle-display-type:hover .toggle-display-type__switch::before {
    background: linear-gradient(to bottom, #fff 0%,#fff 100%);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
}

.toggle-display-type__checkbox:checked + .toggle-display-type__switch {
    background: green;
}

.toggle-display-type__checkbox:checked + .toggle-display-type__switch::before {
    left: 30px;
}

.toggle-display-type__checkbox {
    position: absolute;
    visibility: hidden;
}
