.h-roulette {
    height: 85%;
}

.w-roulette-inner {
    width: 92%;
}

.w-deco {
    width: 88%;
}

.deco-line {
    stroke: theme('colors.fuschia');
    stroke-width: 2.5;
}

.deco-line-sm {
    stroke: theme('colors.fuschia');
    stroke-width: 1;
}

.toggle-display-type {
    cursor: pointer;
    display: inline-block;
}

.toggle-display-type__switch {
    display: inline-block;  
    background: linear-gradient(to left, transparent, theme('colors.teal'));
	border-radius: 2px;
	width: 60px;
	height: 22px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
}

.box-shadow-3d {
  box-shadow: 0 0px 125px -25px rgba(50, 50, 73, 0.3), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.toggle-display-type__switch::before,
.toggle-display-type__switch::after {
    content: "";
}

.toggle-display-type__switch::before {
    display: block;
    background: theme('colors.black');
    border-radius: 0%;
    scale: 130%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: left 0.25s; 
}

.toggle-display-type:hover .toggle-display-type__switch::before {
    background: theme('colors.black');
}

.toggle-display-type__checkbox:checked + .toggle-display-type__switch {
    background: linear-gradient(to right, transparent, theme('colors.yellow'));
}

.toggle-display-type__checkbox:checked + .toggle-display-type__switch::before {
    left: 40px;
}

.toggle-display-type__checkbox {
    position: absolute;
    visibility: hidden;
}

.max-w-200\% {
    max-width: 125rem;
}

.move-svg {
    top: 0%;
    right: 7.3%;
}

/*

END HEADER

            <h3 className="font-serif text-fuschia text-2xl text-right">
            &lt;/Showcase&gt;
            </h3>

*/