.w-art-header {
    width: 90%;
}

.h-art-header {
    height: 16%;
}

.category-bar {
    opacity: 0.8;
}

.category-bar:hover {
    opacity:1.0;
}

.category-bar:hover .bar-unselected {
    transform: scaleY(0.3);
    background-color: theme('colors.teal');
}

.category-bar:hover .bar-selected {
}

.bar-selected,
.bar-unselected {
    transform-origin: bottom left;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045) transform;
    transition-property: transform;
}

.bar-selected {
    transform: scaleY(1);
}


.bar-unselected {
    transform: scaleY(0.2);
}

.h-almost {
    height: 5%;
}

.max-w-200\% {
    max-width: 125rem;
}

.mobile-mt {
    margin-top: 30px;
}

.mobile-bars {
    max-width: max-content;
}


@media screen and (max-width: 1200px) {
    .mobile-mt {
        margin-top: 8rem;
    }

}

@media screen and (max-width: 768px) {
    .mobile-mt {
        margin-top: 7.00rem;
    }
}

@media screen and (max-width: 492px) {
    .mobile-mt {
        margin-top: 10.75rem;
    }

    .mobile-bars {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
}

@media screen and (max-width: 480px) {
    .mobile-mt {
        margin-top: 6.25rem;
    }
}


@media screen and (max-width: 400px) {
    .mobile-mt {
        margin-top: 9.25rem;
    }
}

@media screen and (max-width: 374px) {
    .mobile-mt {
        margin-top: 9.0rem;
    }
}
