.text-gargantuan {
    font-size: 20rem;
    user-select: none; /* Non-standard syntax for WebKit-based browsers */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.back-shadow {
    box-shadow: 0 0px 125px -25px rgba(50, 50, 73, 0.3), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.big-container {
    clip-path: path("M 154 2 H 5000 V 3000 H 2 V 125 Z");
}

.max-w-200\% {
    max-width: 125rem;
}