.max-w-1\/4 {
    flex: 25%;
    max-width: 25%;
}

.max-h-svg {
    max-height: 50%;
}

.pixelBold {
    font-family: 'Yamaha\ EBM7\ Bold', Courier, monospace;
}

.open-card__right {
    background-color: theme('colors.black');
    width: calc(200% + 3px);
    height: fit-content;
}

.open-card__left {
    background-color: theme('colors.black');
    left: calc(-100% - 3px);
    width: calc(200% + 3px);
    height: fit-content;
}

.open-card__center {
    background-color: theme('colors.black');
    width: 100%;
    height: fit-content;
}


@media screen and (max-width: 1200px) {
    .max-w-1\/4 {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .max-w-1\/4 {
        flex: 100%;
        max-width: 100%;
    }
}