.max-w-1\/4 {
    flex: 25%;
    max-width: 25%;
}

.max-h-svg {
    max-height: 50%;
}

.pixelBold {
    font-family: 'Yamaha\ EBM7\ Bold', Courier, monospace;
}

.open-card__right {
    background-color: theme('colors.black');
    width: calc(200% + 3px);
}

.open-card__left {
    background-color: theme('colors.black');
    left: -100%;
    width: calc(200% + 3px);
}